body {
    margin: 0px;
    padding: 0px;
}

.hero {
    border: red solid 2px;
    height: 98vh;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
}