body{
    margin: 0px;
    scroll-behavior: smooth;
}
/* Font details  */
.primary{
    font-size: 5rem;
    font-family: 'Paytone One', sans-serif;
    text-shadow: white 2px 2px 1px;
}
.secondary{
    font-size: 1.3rem;
    font-family: 'Merienda', cursive;
}
.tertiary{
    font-size: 2rem;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}


/* Navbar designing */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    
}
#navbar ul{
    display: flex;

}
.items{
    list-style: none;
    font-size: 1.9rem;
}
.items a{
    text-decoration: none;
    margin: 0px 8px;
    padding: 0px 12px;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.items a:hover{
    background-color: white;
    color: black;
    border-radius: 35px;
}
.logo{
    margin: 4px 8px;
    padding: 6px 4px;

}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}


/* Home Page designing  */
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;   
    width: 100%;
}
#home::before{
    content: "";
    background-image: url(../images/bg2.jpg);
    position: absolute;
    z-index: -1;
    top: 0px;
    height:350px;
    width: 100%;
    opacity: 0.75 ;

}
#home h1{
    color: black;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg3.webp);

}

.subbox{
    display: flex;
    align-items: center;
    justify-content: center;
    border: green solid 3px;
    margin: 2%;
    padding: 0.5%;
    width: 44%;
    height:300px;
    border-radius: 15px;
    box-shadow: black 4px 4px 4px;
    background-color: rgb(245 255 247);
}
.image{
    margin: 4px;
    padding: 4px;
}
.image img{
    border: black solid 1px;
    border-radius: 10px;
}
/* .subbox:hover{
    cursor: pointer;
    width: auto;
    height: 300px;
    
} */

.image:hover{
    transform: translateX(185px) scale(1.5);
    transition-property: transform;
    transition-duration: 1s;
}

.data{
    margin: 4px;
    padding: 4px
}
