

body {
    margin: 0px;
    /* background: url(../images/bg1.jpg) no-repeat center center/cover; */
    /* background-attachment: fixed; */

}

/* Primary  */

.primary {
    font-size: 3.5rem;
    color: black;
    text-shadow: grey 2px 2px;
    font-family: 'Paytone One', sans-serif;
}

.secondary {
    font-size: 1.3rem;
    font-family: 'Merienda', cursive;
    margin: 4px;
    padding: 8px 15px;

}

.custom_heading {
    position: relative;
}

.custom_heading::before {
    position: absolute;
    content: "";
    top: 22px;
    left: -60px;
    width: 45px;
    height: 40px;
    background-image: url(../images/herbal.png);
    background-size: cover;
}

/* Navbar styling  */

.herobg {
    height: 600px;
    background-image: url(../images/back1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0px;
}

#navbar ul {
    display: flex;
    /* align-items: center; */
}

.logo {
    margin: 5px 10px;
    padding: 4px 8px;

}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.items {
    list-style: none;

}

.items a {
    margin: 0px 4px;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    text-shadow: black 2px 1px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 2rem;

}

.items a:hover {
    background-color: white;
    color: black;
    text-shadow: green 1px 0px;
    border: 2px solid black;
    /* border-radius: 25px; */
}

.heading {
    margin-top: 50px;
}

.heading h3 {
    text-align: center;
}

.heading h1 {
    font-size: 85px;
    font-family: "Ethnocentric";
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

/* About Us designing  */
#about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -3rem;

}

.about_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    /* background-image: url(../images/back2.jpeg); */
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(246, 252, 252);
    /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0px 0px 5px black);
    /* opacity: 0.4; */
}


.about_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);

}

/* @supports (backdrop-filter: none) {
    .about_bg {}
} */

/* Products designing  */

.product_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 100%;
    background-color: rgb(234, 238, 199);
    /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0px 0px 5px black);
    /* border: 2px solid red; */
}


.container img {
    width: 100%;
}

.images {
    margin: 3% 2%;
    width: 35%;
    filter: drop-shadow(0px 0px 3px black);
}

.images:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.see a {
    font-size: 1.3rem;
    text-decoration: none;
    display: inline-block;
    padding: 14px 35px;
    background-color: transparent;
    border: 2px solid #76e176;
    color: #76e176;
    margin: 25px;
}

.see a:hover {
    background-color: #00ff00;
    color: #ffffff;
}

/* .img_box {
     filter: drop-shadow(0px 1px 1px black);
} */

.img_box img {
    width: 100%;
    filter: hue-rotate(45deg);
}

/* Contact Us designing  */
.contact_heading {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact_detail {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url(../images/contact-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 0px 8px black);
}

/* .item {
    margin: 10px;
} */

.logo_img {
    margin-top: 10px;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.logo_img p {
    color: black;
    font-size: 1.25rem;
    font-weight: bolder;
}


/* footer designing  */
footer {
    background-color: black;
    position: sticky;
    color: white;
    padding: 3px;
    text-align: center;
}